.layout-item {
    padding: 1px;
    background: #fff;
    border-radius: 16px;
    height: calc(100% - 2px);

    .layout-item-head {
        box-sizing: border-box;
        height: 40px;
        max-height: 40px;
        min-height: 14px;
        padding: 14px 6px 4px 16px;

        .head-inner {
            justify-content: space-between;
            max-width: 100%;
            min-width: 5px;
            width: 100%;

            .title {
                box-sizing: content-box;
                color: var(--text-title);
                flex: 1;
                font-size: 14px;
                font-weight: 500;
                line-height: 16px;
                min-width: 40px;
            }
        }

        .head-inner,
        .title {
            align-items: center;
            display: flex;
            height: 100%;
        }

        .drag {
            align-items: flex-end;
            // color: var(--icon-n3);
            display: flex;
            flex-shrink: 0;
            height: 16px;
            justify-content: center;
            left: 0;
            pointer-events: auto;
            position: absolute;
            right: 0;
            top: 0;
        }

        .drag.isCanDrag {
            //cursor: -webkit-grab;
            cursor: grab;
            opacity: 1;
        }

        .menu-slot {
            border-radius: 6px;
            position: relative;
            top: -8px;
            align-items: center;
            background: #fff;
            justify-self: right;
            margin-left: 12px;
            pointer-events: auto;
        }
    }

    .layout-item-head.isCanDrag {
        cursor: grab;
        opacity: 1;
    }

    .charts {
        height: calc(100% - 40px);

        .dashboard-grid-container {
            height: 100%;
        }
    }
}

.dashboard-grid-menu-button {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid rgba(31, 35, 41, 15%);
    border-radius: 6px;
    color: #646a73;
    //display: -webkit-inline-box;
    //display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 16px;
    height: 22px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 22px;
}

.dashboard-grid-menu-button:hover {
    background-color: rgba(31, 35, 41, 8%);
    cursor: pointer;
}

.dashboard-grid-menu-button:active {
    background-color: rgba(20, 86, 240, 15%);
}

.dashboard-grid-menu-button.disabled {
    color: rgb(187, 191, 196);
}

.dashboard-grid-menu-button.disabled:hover {
    background-color: transparent;
    cursor: not-allowed;
}
