node_modules
/dist
.dumi/tmp
.dumi/tmp-test
.dumi/tmp-production
.DS_Store
.idea
.vscode
.run
.history

# production
**/dist
/.vscode
**/**/lib/**
**/**/es/**

# ignore generated version info
/src/version.ts
