.config-box {
  overflow-y: scroll;
  padding-right: 8px;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc; // 滑块颜色
    border-radius: 4px; // 滑块圆角
  }

  &::-webkit-scrollbar-track {
    background: transparent; /* 隐藏滚动槽 */
  }
}

.spin-container {
  height: 100%;
}
